<h1>Add a Completed Race <%= @car && "for #{@car.full_name}" %></h1>

<% if @race.errors.any? %>
    <h3>
        <%= pluralize(@race.errors.count, "error") %>
        prohibited this race from being saved:
    </h3>
        <ul>
    <% @race.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
        </ul>
<% end %>

<%= render 'form', race: @race %>

<style>
    .field_with_errors > input {
        border: 1px solid red
    };
</style>