<h1>Cars</h1>

<% @cars.each do |car|%>
    <p>Year: <%=car.year %></p>
    <p>Make: <%=car.make %></p>
    <p>Model: <%=car.model %></p>
    <p><%= link_to "Edit", car_path(car) %></p>
    <br>
<% end %>