<h1>New Car</h1>

<% if @car.errors.any? %>
    <h3>
        <%= pluralize(@car.errors.count, "error") %>
        prohibited this car from being saved:
    </h3>
        <ul>
    <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
        </ul>
<% end %>

<%= render 'form', car: @car %>
<style>
    .field_with_errors > input {
        border: 1px solid red
    };
</style>